/curl/.azure-pipelines.yml
/curl/.circleci/
/curl/.cirrus.yml
/curl/.dcignore
/curl/.dir-locals.el
/curl/.gitattributes
/curl/.github/
/curl/.gitignore
/curl/.lgtm.yml
/curl/.lift/
/curl/.mailmap
/curl/CHANGES
/curl/CMake/
/curl/CMakeLists.txt
/curl/COPYING
/curl/GIT-INFO
/curl/MacOSX-Framework
/curl/Makefile.am
/curl/Makefile.dist
/curl/README
/curl/README.md
/curl/RELEASE-NOTES
/curl/SECURITY.md
/curl/acinclude.m4
/curl/appveyor.yml
/curl/buildconf
/curl/buildconf.bat
/curl/configure.ac
/curl/curl-config.in
/curl/docs/
/curl/libcurl.pc.in
/curl/m4/
/curl/maketgz
/curl/packages/
/curl/plan9/
/curl/projects/
/curl/scripts/
/curl/src/
/curl/tests/
/curl/winbuild/
/curl/zuul.d/
/zlib/*.pdf
/zlib/*.map
/zlib/*.in
/zlib/*.cmakein
/zlib/*.xml
/zlib/*.3
